{% extends "base.html" %}
{% load static %}
 
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
 
{% block content %}
<div class="container">
    <div class="row">
        <div class="col my-auto logo text-center">
        <img class="img-fluid logo rounded" src="media/logo.png" alt="logo">
        </div>
        <div class="row ">
            <div class="col-7 col-md-6 my-4">
                <img class="img-fluid flag" src="media/flag.gif" alt="flag">
            </div>
            <div class="col-7 col-md-6 text-black my-4">
        <p class="about">We're a small business based in South Wales with big dreams. Our passion for creating customised gifts,means that we provide
            our customers with nothing but the highest quality of products, which meet their
            needs and keep them satisfied! We are sisters from the Welsh valleys with a passion for craft and to be the creative minds that bring a
            smile to your face.</p>
   </div>
   </div>
    </div>
</div>

{% endblock %}


